sudo: required
dist: zesty
group: edge

language: php

php:
  - 7.0
  - 7.1

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libboost-all-dev

install:
  - git clone https://github.com/CopernicaMarketingSoftware/PHP-CPP.git
  - cd PHP-CPP && make && sudo make install && cd ..

script:
  - make release && make install